.Category{
    height: 350px;
    max-width: 380px;
    padding: 10px;
    margin: 10px 10px;
    box-shadow: 0 4px 6px #000;
    flex: 1 0 21%;
    opacity: .9;
}

.Category:hover{
    transition: transform .4s;
    transform: scale(1.05);
    cursor: pointer;
    opacity: 1;
}


.Text{
    margin: 20px auto;
    font-family: proxima-nova, sans-serif;
    color: #282c34;
    font-size: 30px;
    text-align: center;
}
