.CatItem{
    height: 300px;
    max-width: 250px;
    padding: 10px;
    margin: 10px 10px;
    box-shadow: 0 4px 6px #000;
    flex: 1 0 21%;
    opacity: .9;
    font-family: proxima-nova,sans-serif;
    align-content: center;
}

.CatItem .Name{
    font-size: 18px;
    font-weight: 700;
}

.CatItem .Description{
    font-size: 16px;
    font-weight: 500;
}
