.Jumbtron{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    align-items: center;
}

.Row{
    display: flex;
    background-color: lightgrey;
    padding: 20px;
}


.Column{
    flex: 50%;
    /*align-items: center;*/
    padding: 5px;
    margin: 0 auto;
}

.Column p{
    color: #282c34;
    margin: 110px auto;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 34px;
    font-weight: 500;

}

.Column .Logo{
    margin: 10px 50px 0 50px;
    background-image: linear-gradient(to right,#0892B8 , #6E468D);
    border-radius: 150px;
}
